<app-menu></app-menu>
<div class="container">
<h2 class="text-center">Orderlines</h2>

<!-- Add New button -->
<div class="d-flex">
  <button routerLink="/orderline/create/" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Add
</button>
</div>

  <table class="table table-sm">
  <thead>
    <tr>
      <th>Id</th>
      <th>Order</th>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let o of orderlines">
      <td>{{ o.id }}</td>
      <td>{{ o.orderId }}</td>
      <td>{{ o.product }}</td>
      <td>{{ o.quantity }}</td>
      <td>{{ o.price | currency }}</td>
      <td>
        <a routerLink="/orderline/detail/{{ o.id }}">Detail</a> | 
        <a routerLink="/orderline/edit/{{ o.id }}">Edit</a>
      </td>
    </tr>
  </tbody>
</table>
</div>