<app-menu></app-menu>

<div class="container">
  <table class="table table-sm">
  <thead>
    <tr>
      <th>Id</th>
      <th>Order</th>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let o of orderlines">
      <td>{{ o.id }}</td>
      <td>{{ o.orderId }}</td>
      <td>{{ o.product }}</td>
      <td>{{ o.quantity }}</td>
      <td>{{ o.price | currency }}</td>
      <td>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-secondary">View</button>
          <button type="button" class="btn btn-primary ml-3">Edit</button>
          <button type="button" class="btn btn-danger ml-3">Delete</button>
        </div>
    </tr>
  </tbody>
</table>
</div>